.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #d1d5db;
    border-top-color: #3b82f6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}